<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <title>Register</title>
</head>
<body>
    <header class="main-header">
        <div class=logo-search>
            <img class="logoML" width="320" height="120" src="/images/logo-mercado-liebre.svg"
                alt="Logo de Mercado Liebre">
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
                <input class="search" type="search" placeholder="Buscar productos, marcas y más">
            </h2>
        </div>
        <a href="#" class="hamburger-button">
            <i class="fas fa-bars"></i>
        </a>

        <nav class="main-navbar">            
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Tus compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>

        </nav>
        
    </header>
    <form action="/" method="GET" class="create-form">
        <div class="control-formulario">
            <input type="text" name="nombre" class="control" placeholder="Nombre y apellido">
        </div>
        <div class="control-formulario">
            <input type="text" name="nombreUsuario" class="control" placeholder="Nombre de usuario">
        </div>
        <div class="control-formulario">
            <input type="email" name="email" class="control" placeholder="E-mail">
        </div>
        <div class="control-formulario">
            <div></div><label class="tituloPerfil">Fecha de nacimiento:</label></div>
            <input class="date" type="date" name="nacimiento">
        </div>
        <div class="control-formulario">
            <input class="input" type="text" name="domicilio" placeholder="Domicilio">
        </div>
        <div class="control-formulario">
            <label class="tituloPerfil">Perfil del usuario:</label>
            <input type="radio" id="comprador" name="comprador" value="comprador">
            <label for="comprador">Comprador</label><br>
            <input type="radio" id="vendedor" name="vendedor" value="vendedor">
            <label for="vendedor">Vendedor</label><br>
        </div>
        <div class="control-formulario">
            <label class="tituloPerfil">Intereses</label>
            <label for="electro">Electro</label>
            <input type="checkbox" id="electro" name="electro" value="electro">
            <label for="moda">Moda</label>
            <input type="checkbox" id="moda" name="moda" value="moda">
            <label for="hogar">Hogar</label>
            <input type="checkbox" id="hogar" name="hogar" value="hogar">
            <label for="jugueteria">Jugueteria</label>
            <input type="checkbox" id="jugueteria" name="jugueteria" value="jugueteria">
            <label for="vida-sana">Vida sana</label>
            <input type="checkbox" id="vida-sana" name="vida-sana" value="vida-sana">
        </div>
        <div class="control-formulario">
            <label class="tituloPerfil" for="foto-perfil">Foto de usuario</label>
            <input type="file" id="foto-perfil" name="foto-perfil" value="foto-perfil">
        </div>
        <div class="control-formulario">
            <label for="contraseña">Contraseña</label>
            <input type="password" id="contraseña" name="contraseña">
        </div>
        <div class="control-formulario">
            <label for="confirmar-contraseña">Confirmar contraseña</label>
            <input type="password" id="confirmar-contraseña" name="confirmar-contraseña">
        </div>
        <button type="reset" class="boton-formulario">Reset</button>
        <button type="submit" class="boton-formulario">Enviar</button>
    </form>
    <footer>
        <ul type="none">
            <div>
                <div class="icon_footer">
                    <i class="fas fa-credit-card"></i>
                </div>
                <li>
                    <h4>Pagá con tarjeta o en efectivo</h4>
                </li>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
                <div class="icon_footer">
                    <i class="fas fa-gift"></i>
                </div>
                <li>
                    <h4>Envío gratis desde $ 2.500</h4>
                </li>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
                <div class="icon_footer">
                    <i class="fas fa-user-shield"></i>
                </div>
                <li>
                    <h4>Seguridad, de principio a fin</h4>
                </li>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
                <li>
                    <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
                </li>
            </div>
        </ul>
    </footer>
</body>
</html>