* {
    font-family: roboto, sans-serif;
    box-sizing: content-box;
    margin: 0px;
}
body {
    background-color: #ebebeb;
}

main {
    background-color: #ebebeb;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.main-header {
    background-color: #EAC926;
    padding: 20px;
    top: 0;
    position: flex;
}
.fa-search {
    position: relative;
    top: 0px;
    left: -28px;
}

.copy-header {
    text-align:center;
    padding-bottom: 15px;
}

.hamburger-button {
    background-color: #03264c;    
    color: #ffffff;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.logoML {
    width: 50%;
}
.search {
    width: 44%;
    border-radius: 10px;
    height: 43px;
    border: none;
    margin-left: 20px;
}
.logo-search {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.copy-header h2 {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    align-content: center;
    font-size: inherit;

}

.main-navbar {
    display: none;
}
.main-navbar ul {
    list-style: none;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

.banner {
    width: 100vw;
}

ul {
  padding-left: 0px; 
}

.site {
    display: none;
}
footer {
    font-size: 12px;
}
.footer-completo {
    display: flex;
}
.copyright {
    text-align: left;
    margin-top: 30px;
}
.section {
    font-size: 24px;
    color: #666666;
    padding: 15px;
    text-align: inherit;
}

.fa-truck,
.borde {
    position: relative;
    left: 177px;
    bottom: -27px;
}
.price {
    font-size: 18px;
    margin-right: 20px;
}
.discount {
    font-size: 18px;
    color: #39b54a;
}
.description {
    color: white;
    font-size: 16px;
    margin-bottom: 15px;
    padding: 15px;
    transition: all 1s;
}

.borde {
    display: flex;
    width: 50px;
    height: 50px;
    border: solid 2px rgb(82, 212, 82);
    border-radius: 50%;
    
}
.fa-truck::before {
    margin-top: 8px;
    margin-left: 6px;
    color: #39b54a;
}

.metodo_pago {
    text-align: center;
}
.burger-button {
    background-color: mediumblue;
    border-radius: 5px;
    color: white;
    width: 25px;
    height: 25px
}

.burger-button i {
    background: transparent;
} 
footer {
    text-align: center;
}
.icon_footer {
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}
.icon_footer:hover {
    color: #39b54a;
}

.flex-center,
article {
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    align-content: center;
    margin-bottom: 10px;
    background-color: white;
    text-align: center;
}
article:hover {
    box-shadow: 0px 0px 10px #646464;
}
article:hover .description {
    color: black;
}
.detalle-producto {
    border-top: solid 1px #ebebeb;
    padding: 15px;
    display: flex;
}

h4 {
    font-size: 15px;
}
.create-form {
    margin-top: 15px;
    margin-left: 5px;
}
.control-formulario {
    width: 90vw;
    display: block;
    padding: 8px;  
}

.control-formulario label {
    font-style: italic;
    display: block;
}
.control,
.date,
.input,
#contraseña,
#confirmar-contraseña {
    width: 90vw ;
    padding: 8px;
    justify-content: center;
    height: 30px;
    border-radius: 10px;
}
.boton-formulario {
    background-color: #39b54a;
    border: none;
    font-size: 20px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 25px;
}
.botones-formulario {
    margin-bottom: 30px;
}
.enviar-padre {
    display: flex;
    margin: 15px;
    padding: 8px;
}
.botonEnviar {
    width: 90vw;
    padding: 8px;
    justify-content: center;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
    font-size: 16px;
}
.botonEnviar:hover {
    background-color: #0022AA;
}
.tituloPerfil {
    font-weight: bolder;
    font-size: 22px;
    align-items: stretch;
    text-align: inherit;
    margin-bottom: 20px;
}

.elementos-formulario {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.elementos-formulario2 {
    display: flex;
    flex-direction: column;
}
.intereses {
    margin-bottom: 15px;
    margin-left: 20px;
}
.opciones-Intereses {
    display: flex;
    justify-content: flex-end;
    flex-flow: row-reverse;
}
.date {
    width: 90vw;
    height: 35px;
}

@media (min-width: 361px) {
    .site {
        display: none;
    }
}

@media (min-width: 768px) {
    .logoML {
        width: 20%;
    }
    .logo-search {
        display: flex;
        justify-content: space-between;
    }
    .barra-search {
        width: 42%;
    }
    .search {
        width: 80%;
    }

    .copy-header {
        max-width: 350px;
        text-align: right;
        margin-bottom: 10px;
        font-size: 16px;
        margin: 0px;
        padding: 0px;

    }
    .hamburger-button {
        display: none;
    }
    .main-navbar {
        display: flex;
        justify-content: space-between;
    }

    .main-navbar ul {
        display: flex;
    }

    .main-navbar li {
        margin: 0 5px;
    }
        
    .site {
        display: block;
    }
    .conjunto-de-articulos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    article {
        box-shadow: 0px 0px 10px #646464;
        width: 42%;
        margin: 25px;
    }
    .control-formulario {
        width: 90vw;
        display: block;
        padding: 8px;
        margin: 15px;    
    }
}

@media (min-width: 1200px) {
    .logoML {
        width: 250px;
    }
    .logo-search {
        justify-content: start;
    }
    main {
        margin-right: 15px;
        width: 100vw;
    }
    .right-navbar {
        margin-right: 40px;
    }
    
    .main-header, 
    .main-navbar {
        margin: auto;
    }

    .main-header{
        align-items: center;
    }
    .copy-header {
        margin: 0;
        max-width: none;
        font-size: 18px;
        font-weight: 400;
        display: flex;
        flex-direction: row-reverse;
    }
    .search {
        width: 90%;
        margin-left: 27px;
    }
    .cuotas {
        margin-left: 40px;
    }
    .main-navbar {
        margin-top: 40px;
    }
    .main-navbar li {
        margin: 0 10px;
    }
    .main-navbar a {
        font-size: 19px;
    }

    .fa-truck, 
    .borde {
        position: relative;
        left: 168px;
        bottom: -27px;
    }
    .conjunto-de-articulos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    article {
        box-shadow: 0px 0px 10px #646464;
        width: 20%;
        margin: 27px;
    }
}



/* === COLORES ===
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666666;
Gris claro: #ebebeb;
Verde: #39b54a */